:root {
    --color1: #000000;
    --color2: #262626;
    --color3: #4c4c4c;
    --color4: #717171;
    --color5: #979797;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: var(--color1);
    color: var(--color5);
}
/* reader */
.frontEnd_nav {display: none;}

.frontEnd_nav ul{
    background: var(--color1);
    text-align: center;
    padding: 1em;
}
.frontEnd_nav ul li {
    border: 1px solid var(--color1);
    list-style: none;
    font-size: 1.5em;
    background: var(--color4);
    transition: .5s;
}
.frontEnd_nav ul li a {
    text-decoration: none;
    color: var(--color2);
    transition: .5s;
    display: block;
    padding: .3em;
}
.frontEnd_nav ul li a:hover {
    color: white;
    background-image: linear-gradient(transparent, var(--color3));
}

@media screen and (min-width: 48.75em) {
    .containerMenu {display: none;}

    .containerNavMain {
        display: flex;
    }

    .frontEnd_nav {
        display: block;
    }
}